.recipe-edition {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
.recipe-edition div:not(:first-child) {
    border: 1px solid lightgray;
    border-radius: 20px;
}

.recipe-title {
    grid-column: 1 / -1;
}
.recipe-instructions {
    grid-column: 1 / -1;
}

@media screen {
}
