.App {
  width: 500px;
  text-align: center;
  margin: auto;
}

.App 

.App ul {
  text-align: left;
}

.App-link {
  color: #04627c;
}

footer {
  position: absolute; 
  bottom: 5px; 
  z-index: 10;
  width: 500px;
  text-align: center;

  color: #04627c;
}