.App {
  width: 500px;
  text-align: center;
  margin: auto;
}

.App ul {
  text-align: left;
}

.App-link {
  color: #04627c;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 500px;
  text-align: center;

  color: #04627c;
}